@model InfoTech.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Details</h1>*@
<h1>@Html.DisplayFor(model => model.ProductName)</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-6">
            @{
                var imgStrng = @Model.ProductImage;
                var imgSrc = String.Format("data:image;base64,{0}", imgStrng);
            }
            <img src="@imgSrc" width="500" height=auto />
        </dd>
        <div class="col-sm-6">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-12">
                Price
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.ProductPrice)
            </dd>
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Origin)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Origin)
            </dd>
            <dt class="col-sm-12">
                In Stock
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.InStock)
            </dd>
            <dt class="col-sm-12">
                Brand
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Brand.BrandName)
            </dd>
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>
        </div>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit |</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
